
$primary-color:#272727;
$secondary-color: #14A76C;
$border-color: #018a3a;
$bg-primary-color: #7dc783;
$secondary-color: #dfd9d9;

// white-mode
$w-primary-color:#e6e6e6;
$w-secondary-color: #dfd9d9;
$w-triary-color: #9c9898;
$w-hover-color: #111;
$w-bg-secondary-color: #585858;

// dark-mode
$d-primary-color:#272727;
$d-secondary-color: #363333;
$d-hover-color: #111;

.main{
    grid-area: mainbody;

    top: -2px;

    background-color: $secondary-color;
    padding: 4rem 2rem;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 1000;
    transition: all 0.6s ease-in-out;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
        background: $w-primary-color;
        transition: all 0.3s ease-in-out;
    }
    &::-webkit-scrollbar-thumb {
        background: $w-triary-color;
        transition: all 0.3s ease-in-out;
        
        &:hover{
            background: $w-hover-color;
        }
    }
}


.white-mode{
    .main{
        background-color: $w-secondary-color;
        transition: all 0.3s ease-in-out;

        .note{
            background-color: $w-secondary-color;
        }
        &::-webkit-scrollbar {
            background: $w-bg-secondary-color;
        }
        &::-webkit-scrollbar-thumb {
            background: $primary-color;
            &:hover{
                background: $w-hover-color;
            }
        }
    }
}